---
import {
  FaPalette,
  FaGithubAlt,
} from "react-icons/fa/index.js";
import {
  RiCodeBoxFill,
  RiContactsFill,
  RiMailFill,
  RiLinkedinBoxFill,
  RiInstagramFill,
} from "react-icons/ri/index.js";
import NavBar from "@components/NavBar/index.js";
import SiteLogo from "@components/SiteLogo";
import { getImage } from "@astrojs/image";
import NavItem from "@components/NavBar/NavItem";
import WindowContainer from "@components/WindowContainer"

const { src } = await getImage({
  src: import("src/images/pfp.png"),
  alt: "Drawing of Ezekiel",
  width: 718,
  height: 1045,
});

const { title } = Astro.props;
const currentPath = "/" + Astro.url.pathname.split("/")[1];
const fullPath = Astro.url.pathname;
const navItems = [
  {
    title: "Projects",
    path: "/projects",
    icon: RiCodeBoxFill,
  },
  {
    title: "Art",
    path: "/art",
    icon: FaPalette,
  },
  {
    title: "About",
    path: "/about",
    icon: RiContactsFill,
  },
  {
    title: "Contact",
    path: "/contact",
    icon: RiMailFill,
  },
];

const externalItems = [
  {
    icon: RiLinkedinBoxFill,
    href: "https://www.linkedin.com/in/ezekiel-halley",
    tooltip: "LinkedIn",
  },
  {
    icon: FaGithubAlt,
    href: "https://github.com/Pyxus/",
    tooltip: "GitHub",
  },
  {
    icon: RiInstagramFill,
    href: "https://www.instagram.com/pyxus_/",
    tooltip: "Instagram",
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" as="image" href={src} />
    <title>{title}</title>
  </head>
  <body class="bg-secondary">
    <div class="flex items-start justify-center pt-6">
      <div
        class="m-2 border shadow-2xl text-accent columns-1 font-jetbrains border-accent bg-primary"
      >
        <SiteLogo logoSrc={src!} href={"/"} />
        <hr />
        <NavBar>
          <!-- Site Nav -->
          <div>
            <ul>
              {
                navItems.map((item) => (
                  <NavItem
                    href={item.path}
                    isHighlighted={currentPath == item.path}
                  >
                    {<item.icon className={"mx-auto"} size={28} />}
                    <div class="text-center">{item.title}</div>
                  </NavItem>
                ))
              }
            </ul>
          </div>

          <!-- External Links -->
          <div>
            <ul class="grid grid-cols-3 mx-auto">
              {
                externalItems.map((item) => (
                  <NavItem href={item.href} tooltip={item.tooltip}>
                    {<item.icon size={20} />}
                  </NavItem>
                ))
              }
            </ul>
          </div>
        </NavBar>
      </div>
      <WindowContainer title={`https://ezekiel.page${fullPath}`}>
        <slot/>
      </WindowContainer>
    </div>
  </body>
</html>
